#recipe-title {
    text-align: center;
    padding-top: 2%;
}

#recipe-block {
    padding-left: 10vw;
    padding-right: 9vw;
    padding-top: 2%;
}

.recipe-img {
    border-radius: 20px;
    float: left;
    margin-bottom: 4vw;
}

#recipe-description {
    margin-bottom: 4vw;
    padding-top: 1%;
    padding-left: 5%;
}

.nav-div {
    padding-left: 8.5vw;
    padding-right: 8.5vw;
}

.nav-div .row div button {
    width: 100%;
    background-color: white;
    color: black;
}

.selected {
    background-color: rgb(77,77,90) !important;
    color: white !important;
}

[class*="no-gutter"] {
    margin-right: 0;
    margin-left: 0;
}

.no-gutter-centered > [class*="col-"] {
    padding: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: inherit;
}
  
#entry-tab-content > [class*="col-"] {
    padding: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: inherit;
}

#recipe-block > [class*="col-"] {
    padding: 0;
    padding-right: 1vw;
}

.content-tab {
    padding-top: 3%;
}

.entry-cards {
    padding-left: 8.5vw;
    padding-right: 8.5vw;
}

.entry-cards img{
    border-radius: 20px;
}

#submit-tab-content img{
    border-radius: 20px;
}

.small-img-card {
    opacity: .7;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: grey;
}
.carousel-indicators .active {
    background-color: #000000;;
}

#submit-tab-content{
    padding-right: 8.5vw;
    padding-left: 8.5vw;
    display: none;
}

#comment-tab-content {
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    display: none;
}

.profile-picture {
    width: 50px;
    height: 50px;
}

.profile-info div {
    text-align: center;
}

.comment-card textarea {
    width: 97%;
    height: 1;
}

#comment-body .input-group{
    margin-bottom: 1%;
}

#comment-body button {
    color: white;
    border-color: white;
}

.comment-card {
    color: white;
    padding-top: 15px;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color:  rgb(77,77,90);
    border-style: solid;
    border-width: 2px;
    border-color: black;
}