#banner{
    background-color: palegoldenrod;
    padding-top: 1.5%;
    padding-bottom: 1.5%; 
    font-family: Arial, Helvetica, sans-serif;
}

#homeButton {
    padding-left: 5%;
    font-weight: bold;
    font-size: 20pt;
}

#loginButton {
    padding-right: 5%;
}

#titleLogo {
    font-size: 50pt;
    font-weight: bold;
}

#weekly{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

h2{
    text-decoration: underline;
}

#weeklyCard {
    margin-top: 2%;
}

.centered {
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    text-align: center;
}

.wide-img-card {
    min-height: 200px;
    opacity: .4;
}

#daily {
    align-items: center;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

#daily-header {
}

.daily-card {
    max-width: 320px;
    max-height: 180px;
}

.daily-cards {
    padding-top: 1%;
}