#banner{
    background-color: palegoldenrod;
    padding-top: 1.5%;
    padding-bottom: 1.5%; 
    font-family: Arial, Helvetica, sans-serif;
}

#homeButton {
    padding-left: 5%;
    font-weight: bold;
    font-size: 20pt;
}

#loginButton {
    padding-right: 5%;
}

#titleLogo {
    font-size: 50pt;
    font-weight: bold;
}

#weekly{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

h2{
    text-decoration: underline;
}

#weeklyCard {
    margin-top: 2%;
}

.centered {
    height: 100%;
    width: 100%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    text-align: center;
    align-items: center;
}

.wide-img-card {
    min-height: 200px;
    opacity: .4;
}

#daily {
    padding-top: 1%;
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: center;
}

.daily-card {
    width: 100%;
    margin: 0;
    padding: 0;
}

.daily-cards {
    padding-top: 1%;
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutter > [class*="col-"] {
    padding: 2vw;
    display: flex;
    align-items: center;
    justify-content: inherit;
  }
