#banner{
    background-color: palegoldenrod;
    padding-top: 1.5%;
    padding-bottom: 1.5%; 
    font-family: Arial, Helvetica, sans-serif;
}

#homeButton {
    padding-left: 5%;
    font-weight: bold;
    font-size: 20pt;
}

#loginButton {
    padding-right: 5%;
}

#titleLogo {
    font-size: 50pt;
    font-weight: bold;
}

#weekly{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    text-decoration: underline;
}

#weeklyCard {
    text-align: center;
    margin-top: 2%;
}

.centered {
    padding: 1% 2% 1% 2%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wide-img-card {
    min-height: 200px;
    opacity: .4;
    background-color: white;
}

