.loginbox{
    border : 3px solid black;
    background-color: palegoldenrod;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    position: block;
    text-align: center;
    align-items: center;
    width: 45%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.loginlink{
    color: darkslategrey;
}
.loginlink:hover{
    color:skyblue;
}
.submit{
    margin-top: 5px;
    width:55%;
    color:black;
    margin-top: 5px;
}
.submit:hover{
    width: 60%;
    background-color:skyblue;
    margin-top: 5px;
}
#new{
    margin-bottom: 20px;
}
#pwlabel{
    margin-top:5px;
}