.loginbox{
    border : 3px solid black;
    background-color: palegoldenrod;
    position: absolute;
    text-align: center;
    align-items: center;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}